/*
 * 基础样式（适用于整个项目），包括：
 *   - CSS Reset
 * @Author: xurenda <xurenda@qq.com>
 * @Github: https://github.com/xurenda
 * @Date: 2019-11-11 19:02:02
 * @LastEditTime: 2019-11-11 21:17:22
 * @FilePath: \my-home-page\src\assets\stylus\basic.styl
 */

// CSS Reset
body
  font-family -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif
  font-size 14px
  color #162c5a
  line-height 1.5em
  background-color #fff
  overflow-x hidden
  margin 0
  min-width 1200px
  min-height 100vh
a
  color #162c5a
  text-decoration none
h1
h2
h3
h4
h5
h6
  font-size 1rem
  margin 0
p
  margin 0
  line-height 1.5em
ul
  padding 0
li
  list-style none
input,
textarea,
button
  all reset
*::placeholder
  color #9a9a9a
  font-weight 400
