/*
 * 定义样式变量
 * @Author: xurenda <xurenda@qq.com>
 * @Github: https://github.com/xurenda
 * @Date: 2019-11-11 22:00:05
 * @LastEditTime: 2019-11-11 22:52:43
 * @FilePath: \my-home-page\src\assets\stylus\variables.styl
 */

// 内容宽度
$container-width = 1000px

// 字体大小
$font-size = 14px
// 小字大小
$small-font-size = 12px

// 主要前景色
$main-fore-color = #f4d03f
// 背景色Ⅰ
$background-color-1 = #fff
// 背景色Ⅱ
$background-color-2 = #f5f5f5

// 字体颜色
$font-color = #737373
// 标题颜色
$title-color = #3c3c3c
// 占位字体颜色
$placeholder-color = #9a9a9a
